In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
import seaborn as sns

In [2]:
df = pd.read_csv('titanic_train.csv',usecols=['Age','Fare','Survived'])

In [3]:
df.head()

   Survived   Age     Fare
0         0  22.0   7.2500
1         1  38.0  71.2833
2         1  26.0   7.9250
3         1  35.0  53.1000
4         0  35.0   8.0500

In [4]:
df.isnull().mean()*100

Survived     0.00000
Age         19.86532
Fare         0.00000
dtype: float64

In [5]:
X=df.drop(columns=['Survived'])
y=df['Survived']

In [9]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=91)

In [10]:
X_train.shape

(712, 2)

In [12]:
X_train

      Age     Fare
98   34.0  23.0000
523  44.0  57.9792
483  63.0   9.5875
586  47.0  15.0000
713  29.0   9.4833
..    ...      ...
861  21.0  11.5000
210  24.0   7.0500
874  28.0  24.0000
686  14.0  39.6875
178  30.0  13.0000

[712 rows x 2 columns]

In [11]:
y_train

98     1
523    1
483    1
586    0
713    0
      ..
861    0
210    0
874    1
686    0
178    0
Name: Survived, Length: 712, dtype: int64