In [15]:
import pandas as pd
import numpy as np

In [3]:
temperatures = [25, 28, 30, 26, 29, 31, 27]
series = pd.Series(temperatures)
print(series)

0    25
1    28
2    30
3    26
4    29
5    31
6    27
dtype: int64

In [4]:
import pandas as pd

value = 10
series = pd.Series(value, index=[0, 1, 2, 3, 4])
print(series)

0    10
1    10
2    10
3    10
4    10
dtype: int64

In [5]:
import pandas as pd

temperatures = [25, 28, 30, 26, 29, 31, 27]
series = pd.Series(temperatures)
print(series)

0    25
1    28
2    30
3    26
4    29
5    31
6    27
dtype: int64

In [6]:
import pandas as pd

ages = [25, 30, 35, 28, 32]
index_labels = ['John', 'Jane', 'Mike', 'Emily', 'Alex']
series = pd.Series(ages, index=index_labels)
print(series)

John     25
Jane     30
Mike     35
Emily    28
Alex     32
dtype: int64

In [7]:
import pandas as pd

data = {'Name': ['John', 'Jane', 'Mike'],
        'Age': [25, 30, 35],
        'City': ['New York', 'Paris', 'London']}
df = pd.DataFrame(data)
print(df)

   Name  Age      City
0  John   25  New York
1  Jane   30     Paris
2  Mike   35    London

In [8]:
import pandas as pd

data = {'Name': ['John', 'Jane', 'Mike'],
        'Age': [25, 30, 35],
        'City': ['New York', 'Paris', 'London']}
df = pd.DataFrame(data, index=['A', 'B', 'C'])
print(df)

   Name  Age      City
A  John   25  New York
B  Jane   30     Paris
C  Mike   35    London

In [9]:
# Create a Series of strings
s = pd.Series(["apple", "banana", "cherry"])

# Check the datatype of the Series
print(s.dtype)

object

In [10]:
# Create a DataFrame with object columns
df = pd.DataFrame({"name": ["Alice", "Bob", "Charlie"],
                   "gender": ["F", "M", "M"],
                   "hobby": ["reading", "gaming", "cooking"]})

# Check the datatypes of all the columns
print(df.dtypes)

name      object
gender    object
hobby     object
dtype: object

In [11]:
# Create a Series of integers
s = pd.Series([1, 2, 3, 4])

# Check the datatype of the Series
print(s.dtype)

int64

In [12]:
# Create a DataFrame with int64 columns
df = pd.DataFrame({"id": [1, 2, 3],
                   "age": [25, 30, 35],
                   "score": [80, 90, 100]})

# Check the datatypes of all the columns
print(df.dtypes)

id       int64
age      int64
score    int64
dtype: object

In [13]:
# Create a Series of floats

s = pd.Series([1.0, 2.5, 3.2])

# Check the datatype of the Series

print(s.dtype)

float64

In [16]:
df = pd.DataFrame({"price": [10.0, np.nan, 15.0],

                   "discount": [0.1, np.nan, np.nan],

                   "final_price": [9.0,np.nan, np.nan]})


# Check the datatypes of all the columns

print(df.dtypes)

price          float64
discount       float64
final_price    float64
dtype: object

In [17]:
# Create a Series of booleans
s = pd.Series([True, False, True])

# Check the datatype of the Series
print(s.dtype)

bool

In [18]:
# Create a DataFrame with bool columns
df = pd.DataFrame({"is_even": [True, False, True],
                   "is_positive": [True, True, False],
                   "is_prime": [False, True, False]})

# Check the datatypes of all the columns
print(df.dtypes)

is_even        bool
is_positive    bool
is_prime       bool
dtype: object