What is Dataframe

A dataframe is a two-dimensional labeled data structure that is commonly used for data manipulation and analysis in Python. It is a table-like structure in which the rows represent observations and the columns represent variables or features.

In [1]:
import pandas as pd

#create dataframe using dictionay
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35],
        'City': ['New York', 'London', 'Paris']}

df = pd.DataFrame(data)

print(df)

      Name  Age      City
0    Alice   25  New York
1      Bob   30    London
2  Charlie   35     Paris

In [2]:
data=pd.read_csv('ipl-matches.csv')
data

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon
2,1312198,Kolkata,2022-05-25,2022,Eliminator,Royal Challengers Bangalore,Lucknow Super Giants,"Eden Gardens, Kolkata",Lucknow Super Giants,field,N,Royal Challengers Bangalore,Runs,14.0,NaN,RM Patidar,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...",J Madanagopal,MA Gough
3,1312197,Kolkata,2022-05-24,2022,Qualifier 1,Rajasthan Royals,Gujarat Titans,"Eden Gardens, Kolkata",Gujarat Titans,field,N,Gujarat Titans,Wickets,7.0,NaN,DA Miller,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",BNJ Oxenford,VK Sharma
4,1304116,Mumbai,2022-05-22,2022,70,Sunrisers Hyderabad,Punjab Kings,"Wankhede Stadium, Mumbai",Sunrisers Hyderabad,bat,N,Punjab Kings,Wickets,5.0,NaN,Harpreet Brar,"['PK Garg', 'Abhishek Sharma', 'RA Tripathi', ...","['JM Bairstow', 'S Dhawan', 'M Shahrukh Khan',...",AK Chaudhary,NA Patwardhan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
945,335986,Kolkata,2008-04-20,2007/08,4,Kolkata Knight Riders,Deccan Chargers,Eden Gardens,Deccan Chargers,bat,N,Kolkata Knight Riders,Wickets,5.0,NaN,DJ Hussey,"['WP Saha', 'BB McCullum', 'RT Ponting', 'SC G...","['AC Gilchrist', 'Y Venugopal Rao', 'VVS Laxma...",BF Bowden,K Hariharan
946,335985,Mumbai,2008-04-20,2007/08,5,Mumbai Indians,Royal Challengers Bangalore,Wankhede Stadium,Mumbai Indians,bat,N,Royal Challengers Bangalore,Wickets,5.0,NaN,MV Boucher,"['L Ronchi', 'ST Jayasuriya', 'DJ Thornely', '...","['S Chanderpaul', 'R Dravid', 'LRPL Taylor', '...",SJ Davis,DJ Harper
947,335984,Delhi,2008-04-19,2007/08,3,Delhi Daredevils,Rajasthan Royals,Feroz Shah Kotla,Rajasthan Royals,bat,N,Delhi Daredevils,Wickets,9.0,NaN,MF Maharoof,"['G Gambhir', 'V Sehwag', 'S Dhawan', 'MK Tiwa...","['T Kohli', 'YK Pathan', 'SR Watson', 'M Kaif'...",Aleem Dar,GA Pratapkumar
948,335983,Chandigarh,2008-04-19,2007/08,2,Kings XI Punjab,Chennai Super Kings,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,bat,N,Chennai Super Kings,Runs,33.0,NaN,MEK Hussey,"['K Goel', 'JR Hopes', 'KC Sangakkara', 'Yuvra...","['PA Patel', 'ML Hayden', 'MEK Hussey', 'MS Dh...",MR Benson,SL Shastri
949,335982,Bangalore,2008-04-18,2007/08,1,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Royal Challengers Bangalore,field,N,Kolkata Knight Riders,Runs,140.0,NaN,BB McCullum,"['R Dravid', 'W Jaffer', 'V Kohli', 'JH Kallis...","['SC Ganguly', 'BB McCullum', 'RT Ponting', 'D...",Asad Rauf,RE Koertzen

In [3]:
#Shape
data.shape

(950, 20)

In [4]:
#dtypes
data.dtypes

ID                   int64
City                object
Date                object
Season              object
MatchNumber         object
Team1               object
Team2               object
Venue               object
TossWinner          object
TossDecision        object
SuperOver           object
WinningTeam         object
WonBy               object
Margin             float64
method              object
Player_of_Match     object
Team1Players        object
Team2Players        object
Umpire1             object
Umpire2             object
dtype: object

In [5]:
#index
data.index

RangeIndex(start=0, stop=950, step=1)

In [6]:
#Gives the column names
data.columns

Index(['ID', 'City', 'Date', 'Season', 'MatchNumber', 'Team1', 'Team2',
       'Venue', 'TossWinner', 'TossDecision', 'SuperOver', 'WinningTeam',
       'WonBy', 'Margin', 'method', 'Player_of_Match', 'Team1Players',
       'Team2Players', 'Umpire1', 'Umpire2'],
      dtype='object')

In [7]:
#To get the values

data.values

array([[1312200, 'Ahmedabad', '2022-05-29', ...,
        "['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pandya', 'DA Miller', 'R Tewatia', 'Rashid Khan', 'R Sai Kishore', 'LH Ferguson', 'Yash Dayal', 'Mohammed Shami']",
        'CB Gaffaney', 'Nitin Menon'],
       [1312199, 'Ahmedabad', '2022-05-27', ...,
        "['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D Padikkal', 'SO Hetmyer', 'R Parag', 'R Ashwin', 'TA Boult', 'YS Chahal', 'M Prasidh Krishna', 'OC McCoy']",
        'CB Gaffaney', 'Nitin Menon'],
       [1312198, 'Kolkata', '2022-05-25', ...,
        "['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda', 'MP Stoinis', 'E Lewis', 'KH Pandya', 'PVD Chameera', 'Mohsin Khan', 'Avesh Khan', 'Ravi Bishnoi']",
        'J Madanagopal', 'MA Gough'],
       ...,
       [335984, 'Delhi', '2008-04-19', ...,
        "['T Kohli', 'YK Pathan', 'SR Watson', 'M Kaif', 'DS Lehmann', 'RA Jadeja', 'M Rawat', 'D Salunkhe', 'SK Warne', 'SK Trivedi', 'MM Patel']",
        'Aleem Dar', 'GA Pratapkumar'],
       [335983, 'Chandigarh', '2008-04-19', ...,
        "['PA Patel', 'ML Hayden', 'MEK Hussey', 'MS Dhoni', 'SK Raina', 'JDP Oram', 'S Badrinath', 'Joginder Sharma', 'P Amarnath', 'MS Gony', 'M Muralitharan']",
        'MR Benson', 'SL Shastri'],
       [335982, 'Bangalore', '2008-04-18', ...,
        "['SC Ganguly', 'BB McCullum', 'RT Ponting', 'DJ Hussey', 'Mohammad Hafeez', 'LR Shukla', 'WP Saha', 'AB Agarkar', 'AB Dinda', 'M Kartik', 'I Sharma']",
        'Asad Rauf', 'RE Koertzen']], dtype=object)

In [8]:
#Top 5 rows

data.head()

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon
2,1312198,Kolkata,2022-05-25,2022,Eliminator,Royal Challengers Bangalore,Lucknow Super Giants,"Eden Gardens, Kolkata",Lucknow Super Giants,field,N,Royal Challengers Bangalore,Runs,14.0,NaN,RM Patidar,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...",J Madanagopal,MA Gough
3,1312197,Kolkata,2022-05-24,2022,Qualifier 1,Rajasthan Royals,Gujarat Titans,"Eden Gardens, Kolkata",Gujarat Titans,field,N,Gujarat Titans,Wickets,7.0,NaN,DA Miller,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",BNJ Oxenford,VK Sharma
4,1304116,Mumbai,2022-05-22,2022,70,Sunrisers Hyderabad,Punjab Kings,"Wankhede Stadium, Mumbai",Sunrisers Hyderabad,bat,N,Punjab Kings,Wickets,5.0,NaN,Harpreet Brar,"['PK Garg', 'Abhishek Sharma', 'RA Tripathi', ...","['JM Bairstow', 'S Dhawan', 'M Shahrukh Khan',...",AK Chaudhary,NA Patwardhan

In [9]:
#Bottom 5 rows

data.tail()

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
945,335986,Kolkata,2008-04-20,2007/08,4,Kolkata Knight Riders,Deccan Chargers,Eden Gardens,Deccan Chargers,bat,N,Kolkata Knight Riders,Wickets,5.0,NaN,DJ Hussey,"['WP Saha', 'BB McCullum', 'RT Ponting', 'SC G...","['AC Gilchrist', 'Y Venugopal Rao', 'VVS Laxma...",BF Bowden,K Hariharan
946,335985,Mumbai,2008-04-20,2007/08,5,Mumbai Indians,Royal Challengers Bangalore,Wankhede Stadium,Mumbai Indians,bat,N,Royal Challengers Bangalore,Wickets,5.0,NaN,MV Boucher,"['L Ronchi', 'ST Jayasuriya', 'DJ Thornely', '...","['S Chanderpaul', 'R Dravid', 'LRPL Taylor', '...",SJ Davis,DJ Harper
947,335984,Delhi,2008-04-19,2007/08,3,Delhi Daredevils,Rajasthan Royals,Feroz Shah Kotla,Rajasthan Royals,bat,N,Delhi Daredevils,Wickets,9.0,NaN,MF Maharoof,"['G Gambhir', 'V Sehwag', 'S Dhawan', 'MK Tiwa...","['T Kohli', 'YK Pathan', 'SR Watson', 'M Kaif'...",Aleem Dar,GA Pratapkumar
948,335983,Chandigarh,2008-04-19,2007/08,2,Kings XI Punjab,Chennai Super Kings,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,bat,N,Chennai Super Kings,Runs,33.0,NaN,MEK Hussey,"['K Goel', 'JR Hopes', 'KC Sangakkara', 'Yuvra...","['PA Patel', 'ML Hayden', 'MEK Hussey', 'MS Dh...",MR Benson,SL Shastri
949,335982,Bangalore,2008-04-18,2007/08,1,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Royal Challengers Bangalore,field,N,Kolkata Knight Riders,Runs,140.0,NaN,BB McCullum,"['R Dravid', 'W Jaffer', 'V Kohli', 'JH Kallis...","['SC Ganguly', 'BB McCullum', 'RT Ponting', 'D...",Asad Rauf,RE Koertzen

In [10]:
#sample() method is used to generate a random sample of a dataframe. 

data.sample(5)

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
828,419112,Bangalore,2010-03-16,2009/10,7,Royal Challengers Bangalore,Kings XI Punjab,M Chinnaswamy Stadium,Kings XI Punjab,bat,N,Royal Challengers Bangalore,Wickets,8.0,NaN,JH Kallis,"['MK Pandey', 'JH Kallis', 'RV Uthappa', 'V Ko...","['RS Bopara', 'MS Bisla', 'Yuvraj Singh', 'DPM...",S Das,DJ Harper
578,598047,Jaipur,2013-05-05,2013,50,Rajasthan Royals,Pune Warriors,Sawai Mansingh Stadium,Pune Warriors,bat,N,Rajasthan Royals,Wickets,5.0,NaN,AM Rahane,"['R Dravid', 'AM Rahane', 'SR Watson', 'BJ Hod...","['RV Uthappa', 'AJ Finch', 'Yuvraj Singh', 'MR...",C Shamshuddin,RJ Tucker
476,829735,Ahmedabad,2015-04-19,2015,15,Rajasthan Royals,Chennai Super Kings,"Sardar Patel Stadium, Motera",Chennai Super Kings,bat,N,Rajasthan Royals,Wickets,8.0,NaN,AM Rahane,"['AM Rahane', 'SR Watson', 'SPD Smith', 'KK Na...","['DR Smith', 'BB McCullum', 'SK Raina', 'F du ...",AK Chaudhary,M Erasmus
913,336020,Delhi,2008-05-15,2007/08,37,Delhi Daredevils,Deccan Chargers,Feroz Shah Kotla,Deccan Chargers,field,N,Delhi Daredevils,Runs,12.0,NaN,A Mishra,"['G Gambhir', 'V Sehwag', 'S Dhawan', 'MF Maha...","['AC Gilchrist', 'Shahid Afridi', 'HH Gibbs', ...",BG Jerling,GA Pratapkumar
861,392213,Centurion,2009-05-07,2009,33,Royal Challengers Bangalore,Rajasthan Royals,SuperSport Park,Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,NaN,A Singh,"['JH Kallis', 'W Jaffer', 'RV Uthappa', 'R Dra...","['GC Smith', 'NV Ojha', 'LA Carseldine', 'YK P...",K Hariharan,DJ Harper

In [11]:
#info() method is used to obtain a concise summary of a dataframe. 

data.info(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 950 entries, 0 to 949
Data columns (total 20 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               950 non-null    int64
 1   City             899 non-null    object
 2   Date             950 non-null    object
 3   Season           950 non-null    object
 4   MatchNumber      950 non-null    object
 5   Team1            950 non-null    object
 6   Team2            950 non-null    object
 7   Venue            950 non-null    object
 8   TossWinner       950 non-null    object
 9   TossDecision     950 non-null    object
 10  SuperOver        946 non-null    object
 11  WinningTeam      946 non-null    object
 12  WonBy            950 non-null    object
 13  Margin           932 non-null    float64
 14  method           19 non-null     object
 15  Player_of_Match  946 non-null    object
 16  Team1Players     950 non-null    object
 17  Team2Players     950 non-null    object
 18  Umpire1          950 non-null    object
 19  Umpire2          950 non-null    object
dtypes: float64(1), int64(1), object(18)
memory usage: 148.6+ KB

In [12]:
#describe() method is used to generate descriptive statistics for a dataframe

data.describe()

                 ID      Margin
count  9.500000e+02  932.000000
mean   8.304852e+05   17.056867
std    3.375678e+05   21.633109
min    3.359820e+05    1.000000
25%    5.012612e+05    6.000000
50%    8.297380e+05    8.000000
75%    1.175372e+06   19.000000
max    1.312200e+06  146.000000

In [13]:
#isnull() method is used to detect missing or null values in a dataframe.

data.isnull().sum()

ID                   0
City                51
Date                 0
Season               0
MatchNumber          0
Team1                0
Team2                0
Venue                0
TossWinner           0
TossDecision         0
SuperOver            4
WinningTeam          4
WonBy                0
Margin              18
method             931
Player_of_Match      4
Team1Players         0
Team2Players         0
Umpire1              0
Umpire2              0
dtype: int64

In [14]:
#null values in yerms of percentage
(data.isnull().mean())*100

ID                  0.000000
City                5.368421
Date                0.000000
Season              0.000000
MatchNumber         0.000000
Team1               0.000000
Team2               0.000000
Venue               0.000000
TossWinner          0.000000
TossDecision        0.000000
SuperOver           0.421053
WinningTeam         0.421053
WonBy               0.000000
Margin              1.894737
method             98.000000
Player_of_Match     0.421053
Team1Players        0.000000
Team2Players        0.000000
Umpire1             0.000000
Umpire2             0.000000
dtype: float64

In [15]:
#duplicated() method is used to detect duplicate rows in a dataframe. 

data.duplicated().sum()

0

In [16]:
#the rename() method is used to rename columns or indexes in a dataframe.

data.rename(columns={'Team1':'Teamone','Team2':'teamtwo'},inplace=True)
data

,ID,City,Date,Season,MatchNumber,Teamone,teamtwo,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
0,1312200,Ahmedabad,2022-05-29,2022,Final,Rajasthan Royals,Gujarat Titans,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,bat,N,Gujarat Titans,Wickets,7.0,NaN,HH Pandya,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",CB Gaffaney,Nitin Menon
1,1312199,Ahmedabad,2022-05-27,2022,Qualifier 2,Royal Challengers Bangalore,Rajasthan Royals,"Narendra Modi Stadium, Ahmedabad",Rajasthan Royals,field,N,Rajasthan Royals,Wickets,7.0,NaN,JC Buttler,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...",CB Gaffaney,Nitin Menon
2,1312198,Kolkata,2022-05-25,2022,Eliminator,Royal Challengers Bangalore,Lucknow Super Giants,"Eden Gardens, Kolkata",Lucknow Super Giants,field,N,Royal Challengers Bangalore,Runs,14.0,NaN,RM Patidar,"['V Kohli', 'F du Plessis', 'RM Patidar', 'GJ ...","['Q de Kock', 'KL Rahul', 'M Vohra', 'DJ Hooda...",J Madanagopal,MA Gough
3,1312197,Kolkata,2022-05-24,2022,Qualifier 1,Rajasthan Royals,Gujarat Titans,"Eden Gardens, Kolkata",Gujarat Titans,field,N,Gujarat Titans,Wickets,7.0,NaN,DA Miller,"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D ...","['WP Saha', 'Shubman Gill', 'MS Wade', 'HH Pan...",BNJ Oxenford,VK Sharma
4,1304116,Mumbai,2022-05-22,2022,70,Sunrisers Hyderabad,Punjab Kings,"Wankhede Stadium, Mumbai",Sunrisers Hyderabad,bat,N,Punjab Kings,Wickets,5.0,NaN,Harpreet Brar,"['PK Garg', 'Abhishek Sharma', 'RA Tripathi', ...","['JM Bairstow', 'S Dhawan', 'M Shahrukh Khan',...",AK Chaudhary,NA Patwardhan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
945,335986,Kolkata,2008-04-20,2007/08,4,Kolkata Knight Riders,Deccan Chargers,Eden Gardens,Deccan Chargers,bat,N,Kolkata Knight Riders,Wickets,5.0,NaN,DJ Hussey,"['WP Saha', 'BB McCullum', 'RT Ponting', 'SC G...","['AC Gilchrist', 'Y Venugopal Rao', 'VVS Laxma...",BF Bowden,K Hariharan
946,335985,Mumbai,2008-04-20,2007/08,5,Mumbai Indians,Royal Challengers Bangalore,Wankhede Stadium,Mumbai Indians,bat,N,Royal Challengers Bangalore,Wickets,5.0,NaN,MV Boucher,"['L Ronchi', 'ST Jayasuriya', 'DJ Thornely', '...","['S Chanderpaul', 'R Dravid', 'LRPL Taylor', '...",SJ Davis,DJ Harper
947,335984,Delhi,2008-04-19,2007/08,3,Delhi Daredevils,Rajasthan Royals,Feroz Shah Kotla,Rajasthan Royals,bat,N,Delhi Daredevils,Wickets,9.0,NaN,MF Maharoof,"['G Gambhir', 'V Sehwag', 'S Dhawan', 'MK Tiwa...","['T Kohli', 'YK Pathan', 'SR Watson', 'M Kaif'...",Aleem Dar,GA Pratapkumar
948,335983,Chandigarh,2008-04-19,2007/08,2,Kings XI Punjab,Chennai Super Kings,"Punjab Cricket Association Stadium, Mohali",Chennai Super Kings,bat,N,Chennai Super Kings,Runs,33.0,NaN,MEK Hussey,"['K Goel', 'JR Hopes', 'KC Sangakkara', 'Yuvra...","['PA Patel', 'ML Hayden', 'MEK Hussey', 'MS Dh...",MR Benson,SL Shastri
949,335982,Bangalore,2008-04-18,2007/08,1,Royal Challengers Bangalore,Kolkata Knight Riders,M Chinnaswamy Stadium,Royal Challengers Bangalore,field,N,Kolkata Knight Riders,Runs,140.0,NaN,BB McCullum,"['R Dravid', 'W Jaffer', 'V Kohli', 'JH Kallis...","['SC Ganguly', 'BB McCullum', 'RT Ponting', 'D...",Asad Rauf,RE Koertzen

# Math Operations

In [17]:
data['Margin'].sum()

15897.0

In [18]:
#mean() method is used to find the mean or average value of a dataframe or a specific column of the dataframe.
data['Margin'].mean()

17.0568669527897

In [19]:
#min() method is used to find the minimum value in a dataframe or a specific column of the dataframe.
data['Margin'].min()

1.0

In [20]:
#max() method is used to find the maximum value in a dataframe or a specific column of the dataframe.
data['Margin'].max()

146.0

In [21]:
#  std() method is used to find the standard deviation of a dataframe or a specific column of the dataframe.
data['Margin'].std()

21.6331087018689

In [22]:
#he std() method is used to find the standard deviation of a dataframe or a specific column of the dataframe.
data['Margin'].var()

467.9913921068758

In [23]:
#Fetching single column

data['City']

0       Ahmedabad
1       Ahmedabad
2         Kolkata
3         Kolkata
4          Mumbai
          ...
945       Kolkata
946        Mumbai
947         Delhi
948    Chandigarh
949     Bangalore
Name: City, Length: 950, dtype: object

In [24]:
#Fetching multiple columns

data[['City','WinningTeam','WonBy']]

           City                  WinningTeam    WonBy
0     Ahmedabad               Gujarat Titans  Wickets
1     Ahmedabad             Rajasthan Royals  Wickets
2       Kolkata  Royal Challengers Bangalore     Runs
3       Kolkata               Gujarat Titans  Wickets
4        Mumbai                 Punjab Kings  Wickets
..          ...                          ...      ...
945     Kolkata        Kolkata Knight Riders  Wickets
946      Mumbai  Royal Challengers Bangalore  Wickets
947       Delhi             Delhi Daredevils  Wickets
948  Chandigarh          Chennai Super Kings     Runs
949   Bangalore        Kolkata Knight Riders     Runs

[950 rows x 3 columns]

In [25]:
data[['City','WinningTeam','WonBy']]

           City                  WinningTeam    WonBy
0     Ahmedabad               Gujarat Titans  Wickets
1     Ahmedabad             Rajasthan Royals  Wickets
2       Kolkata  Royal Challengers Bangalore     Runs
3       Kolkata               Gujarat Titans  Wickets
4        Mumbai                 Punjab Kings  Wickets
..          ...                          ...      ...
945     Kolkata        Kolkata Knight Riders  Wickets
946      Mumbai  Royal Challengers Bangalore  Wickets
947       Delhi             Delhi Daredevils  Wickets
948  Chandigarh          Chennai Super Kings     Runs
949   Bangalore        Kolkata Knight Riders     Runs

[950 rows x 3 columns]

In [26]:
movies=pd.read_csv('movies.csv')
movies.head()

,title_x,imdb_id,poster_path,wiki_link,title_y,original_title,is_adult,year_of_release,runtime,genres,imdb_rating,imdb_votes,story,summary,tagline,actors,wins_nominations,release_date
0,Uri: The Surgical Strike,tt8291224,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Uri:_The_Surgica...,Uri: The Surgical Strike,Uri: The Surgical Strike,0,2019,138,Action|Drama|War,8.4,35112,Divided over five chapters the film chronicle...,Indian army special forces execute a covert op...,NaN,Vicky Kaushal|Paresh Rawal|Mohit Raina|Yami Ga...,4 wins,11 January 2019 (USA)
1,Battalion 609,tt9472208,NaN,https://en.wikipedia.org/wiki/Battalion_609,Battalion 609,Battalion 609,0,2019,131,War,4.1,73,The story revolves around a cricket match betw...,The story of Battalion 609 revolves around a c...,NaN,Vicky Ahuja|Shoaib Ibrahim|Shrikant Kamat|Elen...,NaN,11 January 2019 (India)
2,The Accidental Prime Minister (film),tt6986710,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/The_Accidental_P...,The Accidental Prime Minister,The Accidental Prime Minister,0,2019,112,Biography|Drama,6.1,5549,Based on the memoir by Indian policy analyst S...,Explores Manmohan Singh's tenure as the Prime ...,NaN,Anupam Kher|Akshaye Khanna|Aahana Kumra|Atul S...,NaN,11 January 2019 (USA)
3,Why Cheat India,tt8108208,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Why_Cheat_India,Why Cheat India,Why Cheat India,0,2019,121,Crime|Drama,6.0,1891,The movie focuses on existing malpractices in ...,The movie focuses on existing malpractices in ...,NaN,Emraan Hashmi|Shreya Dhanwanthary|Snighdadeep ...,NaN,18 January 2019 (USA)
4,Evening Shadows,tt6028796,NaN,https://en.wikipedia.org/wiki/Evening_Shadows,Evening Shadows,Evening Shadows,0,2018,102,Drama,7.3,280,While gay rights and marriage equality has bee...,Under the 'Evening Shadows' truth often plays...,NaN,Mona Ambegaonkar|Ananth Narayan Mahadevan|Deva...,17 wins & 1 nomination,11 January 2019 (India)

In [27]:
#iloc is short for "integer location" and is used to select data from a dataframe based on the integer index of the rows and columns

#single row

movies.iloc[0]

title_x                                      Uri: The Surgical Strike
imdb_id                                                     tt8291224
poster_path         https://upload.wikimedia.org/wikipedia/en/thum...
wiki_link           https://en.wikipedia.org/wiki/Uri:_The_Surgica...
title_y                                      Uri: The Surgical Strike
original_title                               Uri: The Surgical Strike
is_adult                                                            0
year_of_release                                                  2019
runtime                                                           138
genres                                               Action|Drama|War
imdb_rating                                                       8.4
imdb_votes                                                      35112
story               Divided over five chapters  the film chronicle...
summary             Indian army special forces execute a covert op...
tagline                                                           NaN
actors              Vicky Kaushal|Paresh Rawal|Mohit Raina|Yami Ga...
wins_nominations                                               4 wins
release_date                                    11 January 2019 (USA)
Name: 0, dtype: object

In [28]:
#fetch first 5 movies

movies.iloc[0:5]

,title_x,imdb_id,poster_path,wiki_link,title_y,original_title,is_adult,year_of_release,runtime,genres,imdb_rating,imdb_votes,story,summary,tagline,actors,wins_nominations,release_date
0,Uri: The Surgical Strike,tt8291224,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Uri:_The_Surgica...,Uri: The Surgical Strike,Uri: The Surgical Strike,0,2019,138,Action|Drama|War,8.4,35112,Divided over five chapters the film chronicle...,Indian army special forces execute a covert op...,NaN,Vicky Kaushal|Paresh Rawal|Mohit Raina|Yami Ga...,4 wins,11 January 2019 (USA)
1,Battalion 609,tt9472208,NaN,https://en.wikipedia.org/wiki/Battalion_609,Battalion 609,Battalion 609,0,2019,131,War,4.1,73,The story revolves around a cricket match betw...,The story of Battalion 609 revolves around a c...,NaN,Vicky Ahuja|Shoaib Ibrahim|Shrikant Kamat|Elen...,NaN,11 January 2019 (India)
2,The Accidental Prime Minister (film),tt6986710,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/The_Accidental_P...,The Accidental Prime Minister,The Accidental Prime Minister,0,2019,112,Biography|Drama,6.1,5549,Based on the memoir by Indian policy analyst S...,Explores Manmohan Singh's tenure as the Prime ...,NaN,Anupam Kher|Akshaye Khanna|Aahana Kumra|Atul S...,NaN,11 January 2019 (USA)
3,Why Cheat India,tt8108208,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Why_Cheat_India,Why Cheat India,Why Cheat India,0,2019,121,Crime|Drama,6.0,1891,The movie focuses on existing malpractices in ...,The movie focuses on existing malpractices in ...,NaN,Emraan Hashmi|Shreya Dhanwanthary|Snighdadeep ...,NaN,18 January 2019 (USA)
4,Evening Shadows,tt6028796,NaN,https://en.wikipedia.org/wiki/Evening_Shadows,Evening Shadows,Evening Shadows,0,2018,102,Drama,7.3,280,While gay rights and marriage equality has bee...,Under the 'Evening Shadows' truth often plays...,NaN,Mona Ambegaonkar|Ananth Narayan Mahadevan|Deva...,17 wins & 1 nomination,11 January 2019 (India)

In [29]:
#Fancy indexing

movies.iloc[[0,6,8]]

,title_x,imdb_id,poster_path,wiki_link,title_y,original_title,is_adult,year_of_release,runtime,genres,imdb_rating,imdb_votes,story,summary,tagline,actors,wins_nominations,release_date
0,Uri: The Surgical Strike,tt8291224,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Uri:_The_Surgica...,Uri: The Surgical Strike,Uri: The Surgical Strike,0,2019,138,Action|Drama|War,8.4,35112,Divided over five chapters the film chronicle...,Indian army special forces execute a covert op...,NaN,Vicky Kaushal|Paresh Rawal|Mohit Raina|Yami Ga...,4 wins,11 January 2019 (USA)
6,Fraud Saiyaan,tt5013008,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Fraud_Saiyaan,Fraud Saiyaan,Fraud Saiyyan,0,2019,109,Comedy|Drama,4.2,504,Fraud Saiyyan is the story of a con artist in ...,Fraud Saiyyan is the story of a con artist in ...,NaN,Arshad Warsi|Saurabh Shukla|Flora Saini|Sara L...,NaN,18 January 2019 (India)
8,Manikarnika: The Queen of Jhansi,tt6903440,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Manikarnika:_The...,Manikarnika: The Queen of Jhansi,Manikarnika: The Queen of Jhansi,0,2019,148,Action|Biography|Drama,6.5,7361,Manikarnika born in Varanasi when Dixt a minis...,Story of Rani Lakshmibai one of the leading f...,NaN,Kangana Ranaut|Rimi Sen|Atul Kulkarni|Nalneesh...,NaN,25 January 2019 (USA)

In [30]:
#loc is short for "label location" and is used to select data from a dataframe based on the labels of the rows and columns


movies.set_index('imdb_id',inplace=True)

In [31]:
movies.sample(5)

,title_x,poster_path,wiki_link,title_y,original_title,is_adult,year_of_release,runtime,genres,imdb_rating,imdb_votes,story,summary,tagline,actors,wins_nominations,release_date
imdb_id,,,,,,,,,,,,,,,,,
tt1773764,Ship of Theseus (film),https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Ship_of_Theseus_...,Ship of Theseus,Ship of Theseus,0,2012,140,Drama,8.0,5833,If the parts of a ship are replaced bit-by-bi...,The film explores questions of identity justi...,How do you know where you end and where your e...,Aida Elkashef|Yogesh Shah|Faraz Khan|Hannan Yo...,12 wins & 10 nominations,19 July 2013 (India)
tt2126282,Ekk Deewana Tha,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Ekk_Deewana_Tha,Ekk Deewana Tha,Ekk Deewana Tha,0,2012,136,Drama|Romance,5.9,2742,Sachin is an engineering graduate from a middl...,An aspiring filmmaker from Mumbai falls in lov...,A perfect romance... more or less.,Prateik|Amy Jackson|Sachin Khedekar|Manu Rishi...,1 nomination,17 February 2012 (India)
tt4117066,Meeruthiya Gangsters,https://upload.wikimedia.org/wikipedia/commons...,https://en.wikipedia.org/wiki/Meeruthiya_Gangster,Meeruthiya Gangsters,Meeruthiya Gangsters,0,2015,129,Comedy|Crime,7.2,527,Unemployed college students becomes Gangsters ...,Unemployed college students becomes Gangsters ...,NaN,Jaideep Ahlawat|Aakash Dahiya|Jatin Sarna|Shad...,NaN,18 September 2015 (India)
tt0495032,Gangster (2006 film),https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Gangster_(2006_f...,Gangster,Gangster,0,2006,123,Action|Crime|Drama,7.1,4906,Daya Shankar lived with his family in Kashmir ...,In Seoul a gangster's alcoholic moll falls in...,She fell in love with him the day she betrayed...,Kangana Ranaut|Shiney Ahuja|Emraan Hashmi|Guls...,7 wins & 11 nominations,28 April 2006 (India)
tt1188996,My Name Is Khan,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/My_Name_Is_Khan,My Name Is Khan,My Name Is Khan,0,2010,165,Drama,8.0,92755,Rizwan Khan a Muslim from the Borivali sectio...,An Indian Muslim man with Asperger's syndrome ...,An ordinary man| An extraordinary journey ... ...,Shah Rukh Khan|Kajol|Katie A. Keane|Kenton Dut...,20 wins & 26 nominations,12 February 2010 (USA)

In [32]:
movies.loc[['tt8291224','tt0465376','tt1437367']]

,title_x,poster_path,wiki_link,title_y,original_title,is_adult,year_of_release,runtime,genres,imdb_rating,imdb_votes,story,summary,tagline,actors,wins_nominations,release_date
imdb_id,,,,,,,,,,,,,,,,,
tt8291224,Uri: The Surgical Strike,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Uri:_The_Surgica...,Uri: The Surgical Strike,Uri: The Surgical Strike,0,2019,138,Action|Drama|War,8.4,35112,Divided over five chapters the film chronicle...,Indian army special forces execute a covert op...,NaN,Vicky Kaushal|Paresh Rawal|Mohit Raina|Yami Ga...,4 wins,11 January 2019 (USA)
tt0465376,Aisa Kyon Hota Hai?,NaN,https://en.wikipedia.org/wiki/Aisa_Kyon_Hota_H...,Aisa Kyon Hota Hai?,Aisa Kyon Hota Hai?,0,2006,\N,Action|Crime|Drama,4.3,15,Delhi-based Kiran gets married to Vivek and a...,A single mother contend with her playboy son's...,NaN,Rati Agnihotri|Amit|Gopi Bhalla|Mehul Bhojak|M...,NaN,NaN
tt1437367,Thanks Maa,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Thanks_Maa,Thanks Maa,Thanks Maa,0,2009,120,Crime|Drama,8.0,666,While on the run from the reformatory a 12 ye...,A homeless petty thief attempts to find the bi...,NaN,Master Shams|Master Salman|Master Jaffer|Maste...,NaN,5 March 2010 (India)

In [33]:
#Selecting both rows and columns

movies.iloc[0:3,0:3]

,title_x,poster_path,wiki_link
imdb_id,,,
tt8291224,Uri: The Surgical Strike,https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/Uri:_The_Surgica...
tt9472208,Battalion 609,NaN,https://en.wikipedia.org/wiki/Battalion_609
tt6986710,The Accidental Prime Minister (film),https://upload.wikimedia.org/wikipedia/en/thum...,https://en.wikipedia.org/wiki/The_Accidental_P...

In [34]:
#Filtering a dataframe

data.sample(5)

,ID,City,Date,Season,MatchNumber,Teamone,teamtwo,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
610,598014,Jaipur,2013-04-14,2013,18,Rajasthan Royals,Kings XI Punjab,Sawai Mansingh Stadium,Rajasthan Royals,field,N,Rajasthan Royals,Wickets,6.0,NaN,JP Faulkner,"['SR Watson', 'AM Rahane', 'R Dravid', 'STR Bi...","['Mandeep Singh', 'AC Gilchrist', 'M Vohra', '...",Aleem Dar,C Shamshuddin
801,419140,Delhi,2010-04-04,2009/10,35,Delhi Daredevils,Royal Challengers Bangalore,Feroz Shah Kotla,Delhi Daredevils,bat,N,Delhi Daredevils,Runs,37.0,NaN,PD Collingwood,"['DA Warner', 'V Sehwag', 'G Gambhir', 'PD Col...","['JH Kallis', 'CL White', 'KP Pietersen', 'RV ...",BF Bowden,M Erasmus
662,548348,Cuttack,2012-05-01,2012,42,Deccan Chargers,Pune Warriors,Barabati Stadium,Deccan Chargers,bat,N,Deccan Chargers,Runs,13.0,NaN,KC Sangakkara,"['PA Patel', 'S Dhawan', 'CL White', 'KC Sanga...","['MK Pandey', 'MJ Clarke', 'SC Ganguly', 'SPD ...",Aleem Dar,AK Chaudhary
785,419155,Chennai,2010-04-15,2009/10,50,Chennai Super Kings,Delhi Daredevils,"MA Chidambaram Stadium, Chepauk",Chennai Super Kings,bat,N,Delhi Daredevils,Wickets,6.0,NaN,G Gambhir,"['M Vijay', 'ML Hayden', 'MS Dhoni', 'SK Raina...","['V Sehwag', 'DA Warner', 'TM Dilshan', 'G Gam...",HDPK Dharmasena,SS Hazare
889,392183,Cape Town,2009-04-19,2009,3,Delhi Daredevils,Kings XI Punjab,Newlands,Delhi Daredevils,field,N,Delhi Daredevils,Wickets,10.0,D/L,DL Vettori,"['G Gambhir', 'V Sehwag', 'TM Dilshan', 'AB de...","['RS Bopara', 'K Goel', 'Yuvraj Singh', 'KC Sa...",MR Benson,SD Ranade

In [35]:
#Find all the final winners

final=data['MatchNumber'] == 'Final'

newData = data[final] 
newData[['Season','WinningTeam']]

      Season            WinningTeam
0       2022         Gujarat Titans
74      2021    Chennai Super Kings
134  2020/21         Mumbai Indians
194     2019         Mumbai Indians
254     2018    Chennai Super Kings
314     2017         Mumbai Indians
373     2016    Sunrisers Hyderabad
433     2015         Mumbai Indians
492     2014  Kolkata Knight Riders
552     2013         Mumbai Indians
628     2012  Kolkata Knight Riders
702     2011    Chennai Super Kings
775  2009/10    Chennai Super Kings
835     2009        Deccan Chargers
892  2007/08       Rajasthan Royals

In [36]:
#how many super over

data[data['SuperOver'] == 'Y'].shape

(14, 20)

In [37]:
#how many matches Deccan Chargers has won

data[(data['City'] == 'Bangalore') & (data['WinningTeam'] == 'Deccan Chargers')]

,ID,City,Date,Season,MatchNumber,Teamone,teamtwo,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
795,419145,Bangalore,2010-04-08,2009/10,40,Royal Challengers Bangalore,Deccan Chargers,M Chinnaswamy Stadium,Deccan Chargers,field,N,Deccan Chargers,Wickets,7.0,NaN,TL Suman,"['MK Pandey', 'JH Kallis', 'R Dravid', 'RV Uth...","['AC Gilchrist', 'MD Mishra', 'TL Suman', 'RG ...",S Asnani,DJ Harper

In [38]:
#how many matches Deccan Chargers has won

(data[(data['City'] == 'Bangalore') & (data['WinningTeam'] == 'Deccan Chargers')]).shape[0]

1

In [39]:
toss winner is match winner in percentage

(data[(data['TossWinner'] == 'Chennai Super Kings') & (data['WinningTeam'] == 'Chennai Super Kings')])

SyntaxError: invalid syntax (672643356.py, line 1)

In [ ]:
#Winning team is same as Toss Winner in percentage

((data[data['TossWinner'] ==  data['WinningTeam']]).shape[0]/data.shape[0])*100

In [ ]:
#Adding new columns

movies['country'] = 'India'
movies.head()

In [ ]:
#Creating new columns
movies.dropna(inplace=True)
movies['leadactors']=movies['actors'].str.split('|').apply(lambda x:x[0])
movies.head()

In [ ]:
#astype
data.info()

In [ ]:
data['ID']=data['ID'].astype('int32')

In [ ]:
data.info()

In [ ]:
#value counts

data['Season'].value_counts()

In [ ]:
#Toss decision plot

data['TossDecision'].value_counts().plot(kind='bar')

In [ ]:
#how many matches each team has played

data['Teamone'].value_counts() + data['teamtwo'].value_counts()

In [ ]:
#sort
movies.sort_values('title_x',ascending=True)

In [ ]:
#sorting using multiple columns

movies.sort_values(['year_of_release','title_x'])

In [ ]:
#sort 1st column in ascending and second column in descending


movies.sort_values(['year_of_release','title_x'], ascending=[True,False])

In [ ]:
#unique works on series

s=pd.Series([1,2,2,3,4,5,4,5])
s.unique()

In [ ]:
data['Season'].unique()

In [ ]:
#nunique - count the number of unique values - will not count missing values

data['Season'].nunique()

In [ ]:
#missing values 

#isnull()

data['Player_of_Match'].isnull().sum()

In [ ]:
#hasnans

data['Player_of_Match'].hasnans

In [ ]:
data.isnull().sum() #Dataframe

In [ ]:
#dropna

data['Player_of_Match']=data['Player_of_Match'].dropna()

In [ ]:

data.shape

In [ ]:
#dropna on dataframe when all values in a row has nan values
data=data.dropna(how='all')

In [ ]:
data.shape

In [ ]:
marks = {
    'maths':67,
    'english':57,
    'science':89,
    'hindi':100
}

marks_series = pd.Series(marks)
marks_series

In [ ]:
marks_series.sort_index(ascending=False)

In [ ]:
batsman = pd.read_csv('batsman_runs_ipl.csv')
batsman.head()

In [ ]:
# set_index(dataframe) -> inplace
batsman.set_index('batter',inplace=True)

In [ ]:
batsman

In [ ]:
# reset_index(series + dataframe) -> drop parameter
batsman.reset_index(inplace=True)
batsman

In [ ]:
# how to replace existing index without loosing
batsman.reset_index().set_index('batsman_run')

In [ ]:
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva', 'Bob', 'Eva'],
    'Age': [27, 35, 22, np.nan, 29, 35, 29],
    'Income': [50000, 75000, np.nan, 60000, 80000, 75000, np.nan],
    'Country': ['USA', 'Canada', 'USA', 'UK', 'Canada', 'Canada', 'USA']
}

df = pd.DataFrame(data)

In [ ]:
df

In [ ]:
# fillna(series + dataframe)
df['Age'].fillna('unknown')

In [ ]:
df['Income'].fillna(df['Income'].mean())

In [ ]:
df['Age'].fillna(method='ffill') #forward fill

In [ ]:
df['Age'].fillna(method='bfill') #forward fill

In [ ]:
df.shape

In [ ]:
df.drop_duplicates(keep='last')

In [ ]:
#drop
df.drop(index=[5,6])

In [ ]:
#drop columns
df.drop(columns=['Country'])

In [ ]:
df.drop(columns=['Country'])